*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
 }
 body {
    overflow-x: auto;
    overflow-y: auto;
}
nav {
    height: 3.12rem !important;
    width: 100vw!important;
    background-color: #036383;
    
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 10;
    top: 0;
}
/* Add this rule to make the logo image a circle */

/* Styles CSS */
.default-background {
    background-color: #ffffff; /* Couleur d'arrière-plan par défaut */
    /* Autres styles d'arrière-plan par défaut */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    background-image: url('https://th.bing.com/th/id/OIP.Tg8MqtT2yMlRdpqdZAuxlQHaHa?rs=1&pid=ImgDetMain'); /* Chemin vers votre image */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-size: 350px; /* Taille automatique de l'image */
    background-position: center; /* Centrer l'image */
     /* Largeur de l'arrière-plan */
}
/* Stylo icône */
.pen-icon {
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 20px;
    z-index: 1000;
    /* Assurez-vous que l'icône de stylo apparaît au-dessus du reste du contenu */
    
    
}

/* Note book */
.notebook {
    display: none; /* Cacher le bloc-note par défaut */
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 1000; /* Assurez-vous que le bloc-note apparaît au-dessus du reste du contenu */
    width: 300px;
    max-height: 80vh; /* Limiter la hauteur à 80% de la hauteur de la fenêtre */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajouter une ombre */
    padding: 10px;
    overflow-y: auto; /* Ajouter un défilement vertical si nécessaire */
}

.notebook.active {
    display: block; /* Afficher le bloc-note lorsqu'il est actif */
}

#note-text {
    width: 100%;
    height: 200px; /* Hauteur initiale de la zone de texte */
    margin-bottom: 10px; /* Marge inférieure pour le bouton */
    resize: vertical; /* Autoriser le redimensionnement vertical */
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

#save-button {
    width: 100%;
    padding: 8px 10px;
    background-color: #036383;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#save-button:hover {
    background-color: #4b7bad; /* Changement de couleur au survol */
}

.color-button {
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%; /* Rendre les boutons ronds */
}

/* Bouton */
#save-button {
    width: 100%; /* Bouton de largeur */
}







main {
    padding-top: 5rem; /* Ajustez cette valeur en fonction de la hauteur de votre nav */
    
}

/* Styles pour la galerie d'images */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 6px; /* Ajustez la marge entre les images */
    background-color: #036383; 
    /* Ajoutez cette ligne pour définir la couleur du cadre */
}

.image-label {
    margin: 0px;
   ; /* Ajustez la marge entre le texte et l'icône */
}

.image-item img {
    display: none; /* Cacher l'image par défaut */
}

.image-icon {
    font-size: 20px; /* Ajustez la taille de l'icône selon vos préférences */
}

h1 {
    color: #312727;
}
/* Styles pour l'overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#video-player {
    width: 80%; /* Ajustez la taille de la vidéo */
    height: 80%;
    object-fit: contain;
}

#modal-content {
    max-width: 80%;
    max-height: 80%;
}

#modal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




 
 
 


 
 

 #experiences {
    padding: 5px 25px 6px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background-color: #036383; /* Couleur de fond du bouton - Bleu clair */
    color: #ffffff; /* Couleur du texte du bouton - Blanc */
    border: none;
    border-radius: 5px;
    margin-left: 12px;
}

#experiences:hover {
    background-color: #013849; /* Couleur de fond au survol - Bleu plus foncé */
}

.join-button {
    color: #2c3e50; /* Couleur du texte du bouton - Bleu-gris */
    background-color: #e74c3c; /* Couleur de fond du bouton - Rouge */
    border: 1.5px solid #e74c3c; /* Couleur de la bordure - Rouge */
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7; /* Couleur du texte au survol - Blanc */
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
 /*Styling Hamburger Icon*/
 .hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
 }
 .hamburger{
    display: none;
 }
/* ... Vos styles existants ... */

/* ... Vos styles existants ... */

#pdfIconContainer {
    position: absolute;
    top: 10px; /* Ajustez la distance depuis le haut */
    right: 10px; /* Ajustez la distance depuis la droite */
}

.pdf-icon-wrapper {
    display: flex;
    align-items: center;
}

.pdf-icon-wrapper img {
    width: 40px; /* Ajustez la largeur de l'icône PDF selon vos besoins */
    height: 40px; /* Ajustez la hauteur de l'icône PDF selon vos besoins */
    margin-right: 10px; /* Ajoutez un espace à droite de l'icône PDF */
}

.delete-icon {
    background-color: #e74c3c; /* Couleur de fond du bouton - Rouge */
    color: #fff; /* Couleur du texte du bouton - Blanc */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
}

.delete-icon:hover {
    background-color: #c0392b; /* Couleur de fond au survol - Rouge plus foncé */
}

/* ... D'autres styles que vous souhaitez appliquer à l'icône PDF et au bouton de suppression ... */


iframe, img {
    width: 100%;
    border: 0.00001cm solid #ccc;
    border-radius: 2px;
    padding: 5px;
}

  

/* Ajouter le style suivant pour les étiquettes */
.section-label {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Example glow */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #3c9cbd, #673ab7);

    position: absolute;
    transform: translateX(120px);
    background-color: rgba(15, 15, 15, 0.5);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 2;
}
.section-label1 {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Example glow */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #3c9cbd, #673ab7);

    position: absolute;
    
    background-color: rgba(15, 15, 15, 0.5);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s;
   
}
.section-label:hover {
    background: linear-gradient(to right, #f9a825, #f44336); /* Example hover gradient */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Example hover shadow */
    /* ... other styles ... */
  }



.simulation-section {
    position: relative;
}

.liveResults {
    position: relative;
    width:  100%;
    height: 220px;
    overflow: hidden;
    border: 1px solid #ccc; /* Ajout d'une bordure fine */
}
.results-section {
    position: relative;
}

.liveResults {
    position: relative;
    width:  100%;
    height: 220px;
    overflow: hidden;
    border: 1px solid #ccc; /* Ajout d'une bordure fine */
}




.video-section {
    position: relative;
}

.video-container {
    position: relative;
    width:  100%;
    height: 240px;
    overflow: hidden;
    border: 1px solid #ccc; /* Ajout d'une bordure fine */
}
.video-container {
    width: 92%; /* Largeur maximale */
    height: 100%; /* Hauteur maximale */
}

#liveVideo {
    width: 100%; /* Largeur maximale */
    height: 100%; /* Hauteur maximale */
    object-fit: cover; /* Pour redimensionner la vidéo pour remplir la boîte sans modifier son aspect */
}

.btn-primary1 {
    align-self: start; 
    text-decoration: none; 
    justify-self: end; 
    border-radius: 100px; 
    padding: 0.5rem 1.5rem;
    border: 0;color: hsl(0 0% 100%);
    font-weight: 120;cursor: pointer;
    background: linear-gradient(to right, #058dbb, #036383) 0 0 / 200% 100% no-repeat ;
    transition: background-position 0.15s;
}

.btn-primary1:hover {
    background-color: #058dbb; /* Couleur de fond au survol */
    border: 1px solid #036383; /* Couleur de la bordure au survol */
}
.btn-primary1:active {
    background-color: #036383 !important; /* Couleur de fond reste la même lorsque le bouton est activé */
    border: 1px solid #036383 !important; /* Couleur de la bordure reste la même lorsque le bouton est activé */
}


.btn-primary {
    font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
    padding: 6px 12px; /* Ajustez les rembourrages selon vos besoins */
    position: absolute;
    bottom: 10px;
    right: 10px;
}

label[for="inlineFormSelectPrefPython"] {
    color: rgb(253, 253, 255); /* Couleur bleue */
    background-color: #036383;
}

/* Si vous voulez également changer la couleur du texte dans la liste déroulante (select), vous pouvez utiliser : */
#inlineFormSelectPrefPython {
    color: #ffffff; /* Couleur bleue */
    background-color: #036383;
    height: 35px;
}

/* Si vous voulez changer la couleur du texte de l'option sélectionnée, vous pouvez utiliser : */
#inlineFormSelectPrefPython option[selected] {
    color: rgb(255, 255, 255); /* Couleur bleue */
    background-color: #036383;
}


#codeButton {
    color: #fff;
    background-color: #036383;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0; /* Positionner le bouton à droite */
    top: 0; /* Positionner le bouton en bas */
    border-radius: 5px;
    margin: 0px;
    transition: background 0.3s ease;
}
.custom-output {
    color: black; /* Couleur du texte en noir */
    margin-top: 1px;
    height: 10px; 
    
    resize: none; /* Désactive le redimensionnement de la zone de texte */
 /* Bordure arrondie */
    overflow-y: auto; /* Ajoute une barre de défilement vertical si le contenu dépasse */
     
}
/* Ajustez ces styles dans votre fichier styles.css */
#outputPython {
    display: none;
    /* Autres styles pour l'output */
}
.scroll-btn {
    cursor: pointer;
    background-color: #3f99f3; /* Couleur de fond */
    color: #fff; /* Couleur du texte blanc */
    border: none; /* Supprimer la bordure */
    border-radius: 5%; /* Bordure arrondie */
    font-size: 10px; /* Ajustez la taille de la police selon vos besoins *//* Utilisez "absolute" pour positionner par rapport au conteneur parent */
    bottom: 0px; /* Ajustez la position verticale selon vos besoins */
    right: 105px; /* Ajustez la position horizontale selon vos besoins */
    padding: 0px;
    transition: background-color 0.3s ease; /* Animation de transition pour une expérience utilisateur plus fluide */
}




/* Change la couleur du bouton lorsqu'il est survolé */
.scroll-btn:hover {
    background-color: #495057;
}

.output-column {
    background-color: #343a40; /* Couleur de fond */
    border-radius: 2px; /* Bordure arrondie */
    padding: 0px !important; /* Réduire la taille du padding */
    margin: 2px 0;
    margin-left: 13px; /* Marge supérieure et inférieure */
}

/* styles.css */

/* Réduire la taille du padding */
.d-flex-styles {
    justify-content: space-between;
    margin-bottom: 2px;
     
    background-color: #343a40; /* Couleur de fond */
    border-radius: 2px; /* Bordure arrondie */
    padding: 4px !important;
    height:  50px; /* Réduire la taille du padding */
}

/* Réduire la taille de la colonne */
.col-styles {
    width: 120px !important; 

    /* Ajustez selon vos besoins */
}

/* Styles pour le bouton Exécuter */
#runPython {
    background-color: #2980b9; /* Couleur de fond */
    border: none; /* Supprimer la bordure */
    padding: 15px 1Opx; /* Ajustez selon vos besoins */
}



.question {
    margin-top: 28px; /* Ajoute un espace de 20 pixels en haut de chaque question */
    margin-left: 20px; /* Ajoute un espace de 20 pixels à gauche de chaque question */
}
.results-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    z-index: 9999;
    animation: fadeInOut 3s ease-out;
}

.celebration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9998;
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: #f0f;
    position: absolute;
    border-radius: 50%;
    animation: fall 8s linear infinite; /* Ajustez la durée de l'animation ici */
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.results-section.animated {
    animation: shake 0.5s ease-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.fullscreen-mode {
    background-color: white; /* Définissez la couleur de l'arrière-plan en blanc */
    padding: 20px; /* Ajoutez un espacement de 20 pixels autour de la section */
}


.simulation-section {
    margin-bottom: 0 !important;
    
}

.results-section {
    margin-top: 5px !important;
    
}





@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        -webkit-clip-path: circle(50px at 90% -10%);
        clip-path: circle(50px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        -webkit-clip-path: circle(1000px at 90% -10%);
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
        ;
        width: 100%;
        height: 100%; /* Ajustez la largeur à 100% */
        margin: 0; /* Supprime la marge */
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }

    .nav-links li.fade {
        opacity: 1;
        transition: opacity 0.5s ease;
        padding: 5px 25px 6px 10px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        background-color: #11111115;
        color: rgb(64, 187, 181);
        border: none;
        border-radius: 5px;
        margin-left: 10px;
    }

}

 
